aiohttp==3.8.3 ; python_version >= "3.10" and python_version < "4.0"
aiosignal==1.2.0 ; python_version >= "3.10" and python_version < "4.0"
async-timeout==4.0.2 ; python_version >= "3.10" and python_version < "4.0"
attrs==21.4.0 ; python_version >= "3.10" and python_version < "4.0"
beanie==1.11.2 ; python_version >= "3.10" and python_version < "4.0"
charset-normalizer==2.0.12 ; python_version >= "3.10" and python_version < "4.0"
click==8.1.3 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.4 ; python_version >= "3.10" and python_version < "4.0" and platform_system == "Windows"
discord-typings==0.5.1 ; python_version >= "3.10" and python_version < "4.0"
emoji==2.2.0 ; python_version >= "3.10" and python_version < "4.0"
frozenlist==1.3.0 ; python_version >= "3.10" and python_version < "4.0"
idna==3.3 ; python_version >= "3.10" and python_version < "4.0"
motor==2.5.1 ; python_version >= "3.10" and python_version < "4.0"
multidict==6.0.2 ; python_version >= "3.10" and python_version < "4.0"
mypy-extensions==0.4.3 ; python_version >= "3.10" and python_version < "4.0"
mypy==0.961 ; python_version >= "3.10" and python_version < "4.0"
naff @ git+https://github.com/NAFTeam/NAFF.git@dev ; python_version >= "3.10" and python_version < "4.0"
orjson==3.8.2 ; python_version >= "3.10" and python_version < "4.0"
pydantic==1.9.1 ; python_version >= "3.10" and python_version < "4.0"
pymongo==3.12.3 ; python_version >= "3.10" and python_version < "4.0"
python-dotenv==0.20.0 ; python_version >= "3.10" and python_version < "4.0"
toml==0.10.2 ; python_version >= "3.10" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.4.0 ; python_version >= "3.10" and python_version < "4.0"
yarl==1.7.2 ; python_version >= "3.10" and python_version < "4.0"
